* {
    box-sizing: border-box;
}

html {
  height: 100%;
}

.display {
  display: block!important
}

.hide {
  display: none!important
}

.urlBlock {
  display: none
}

.url-form-style {
  height: 210px;
  background-color: rgba(128, 0, 0, 0.8);
  padding-left: 23vw;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: sans-serif;
  width: 100%;
}

.url-form-label {
  font-size: 40px;
  color: white;
}

.url-form-input {
  width: 60vw;
  padding-top: 10px;
  padding-bottom: 50px;
}

input[type="text"]
{
    width: 50vw;
    font-size:14px;
    padding: 8px;
    border:1px solid transparent;
    border-radius:4px;
}

.url-form-button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: rgba(255,255,0, 0.6);
  font-weight: bold;
  color: rgba(128, 0, 0, 0.8);
}

.error-style {
  width: 50vw;
  height: 100vh;
  text-align: center;
  font-family: sans-serif;
  font-size: 14vw;
  float: left;
  margin: 0;
}

.error-style p {
  margin-top: 30vh;
}

img {
  width: 43vw;
  margin-top: 15vh;
  float: left;
}

.short-url-class2 {
  background-color: white;
  width: 50%;
  height: 135px;
  position: absolute;
  top: 35.5%;
  text-align: center;
  left: 25%;
  font-family: sans-serif;
  border-radius: 4px;
  box-shadow: 0 9px 46px 8px rgba(0,0,0,0.14), 0 11px 15px -7px rgba(0,0,0,0.12), 0 24px 38px 3px rgba(0,0,0,0.2);
}

.short-url-class2 p {
  background-color: rgb(238, 238, 238);
  width: 90%;
  text-align: center;
  margin-left: 5%;
  margin-top: 5%;
  padding: 8px 8px;
  word-wrap: break-word;
}

body {
  height: 100%;
  margin: 0;
  overflow-y: auto;
  padding-top: 32vh;
}

.body-class {
  background-color: hsla(0,0%,0%,0.54);
}

.short-url-class1 {
  display: none;
}

.close-button {
  display: inline-block;
  padding: 4px 8px;
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: rgba(255,255,0, 0.8);
  font-weight: bold;
  background-color: rgba(128, 0, 0, 0.8);
}

@media only screen and (max-width: 457px) {
  .url-form-label {
    font-size: 25px;
  }
}

@media only screen and (max-device-width: 567px) {
  .url-form-style {
    height: 400px;
    padding-left: 11vw;
    padding-top: 50px;
    padding-bottom: 40px;
  }

  .url-form-label {
    font-size: 60px;
  }

  .url-form-input {
    width: 60vw;
    padding-top: 20px;
    padding-bottom: 90px;
  }

  input[type="text"]
  {
      width: 80vw;
      height: 4vh;
      font-size: 40px;
      padding: 15px;
      border-radius: 6px;
  }

  .url-form-button {
    padding: 8px 16px;
    font-size: 30px;
    border-radius: 6px;
  }

}
