<!DOCTYPE html>
<html>
  <head>
    <title>Shorty</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body id="body-id">
     <div id="urlForm" class="url-form-style">
       <label class="url-form-label">Simplify your links</label>
       <div class="url-form-input">
         <input type="text" value="" id="urlField" size="70" placeholder="Your original url here...">
       </div>
       <button type="button" name="button" id="subButton" class="url-form-button">Shorten</button>
     </div>
     <div id="shortUrl" class="short-url-class1">
       <div class="short-url-class2">
         <p id="shortenedUrl"></p>
         <button type="button" name="button" id="closeButton">Close</button>
       </div>
     </div>
     <script src="main.js"></script>
  </body>
</html>
