<!DOCTYPE html>
<html>
  <head>
    <title>Shorty</title>
  </head>
  <body>
     <input type="text" name="" value="" id="urlField">
     <button type="button" name="button" id="subButton">Shorten</button>
     <script>
      document.getElementById("subButton").addEventListener("click", test);
       function test() {
         var url = document.getElementById("urlField").value;
         var urlRegex = /(http)s?/;
         if(urlRegex.test(url) === true) {
           console.log(url);
         } else {
           alert("Enter valid url");
         }
       }
     </script>
  </body>
</html>
